@charset "utf-8";

/********** css responsive init **********/
body {
    font-family: 'Noto Sans KR';
}



#header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
}

#header:hover {
    background-color: #fff;
}

#header:hover .navbarWrap h1 {
    background-position-y: 0px;
}

#header:hover .navbar01>ul>li>a {
    color: #000;
}

#header:hover .searchWrap .leng a {
    color: #000;
}

#header:hover .searchWrap .search_icon {
    background-position-y: 132px;
}

#header:hover .searchWrap .maintoggle {
    background-position-y: 132px;
}




.navbarWrap {
    display: flex;
    padding-left: 58px;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    margin: 0 auto;
}

.navbarWrap h1 {
    width: 130px;
    height: 50px;
    background-image: url(../images/logos_header.png);
    background-position: 6px -57px;
}

.navbarWrap h1>a {
    display: block;
    width: 130px;
    height: 50px;
}

.navbar01>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 210px;
}

.navbar01>ul>li {
    position: relative;
}

.navbar01>ul>li>a {
    color: white;
    display: block;
    padding: 0 30px;
    width: 100%;
    line-height: 72px;
}

/* .navbar01 .submenu{display: none;} */
.navbar01>ul>li .submenu {
    background-color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.navbar01>ul>li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.navbar01>ul>li:hover>a {
    color: #027ac4 !important;
    border-bottom: 3px solid #027ac4;
}




.navbar02 {
    width: 410px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchWrap {
    width: 196px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchWrap .leng {
    width: 84px;
    height: 40px;
    background-image: url(../images/icons_gnb.png);
    background-position: 7px -96px;
}

.searchWrap .leng a {
    color: white;
    display: block;
    width: 84px;
    line-height: 40px;
    text-align: center;
}

.searchWrap .leng i {
    padding-left: 5px;
}

.searchWrap .search_icon {
    width: 33px;
    height: 33px;
    background-image: url(../images/icons_gnb.png);
    background-position: 0 -33px;
    cursor: pointer;
}

.searchWrap .maintoggle {
    width: 33px;
    height: 33px;
    background-image: url(../images/icons_gnb.png);
    background-position: -58px -33px;
    cursor: pointer;
}

.rerv {
    width: 176px;
    height: 72px;
    background-color: #027ac4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rerv a {
    color: white;
}

.rerv i {
    padding-left: 5px;
}

.toggle {
    display: none;
}

.navbarClone,
.overlay {
    display: none;
}




.slideWrap li {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    gap: 51px;

}

.slideWrap h2 {
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
    color: #fff;
}

.slideWrap p {
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.slideWrap span {
    font-size: 16px;
    line-height: 32px;
    color: white;
}

.slideWrap span a:link {
    text-decoration: underline;
}

.slideWrap a {
    color: white;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: white;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #027ac4;
}

.bx-wrapper {
    border: 0px none;
    box-shadow: none;
    margin-bottom: 0px
}

.bx-wrapper .bx-pager {
    bottom: 30px;
}

.next,
.prev {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 60px;
    overflow: hidden;
    top: 400px;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}

.prev img,
.next img {
    filter: invert(40%);
}

.prev img:hover,
.next img:hover {
    filter: initial;
}

.next img {
    position: absolute;
    right: 0;
}

.mainSearch {
    height: 110px;
    background-color: #027ac4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

.mainSearch p {
    font-size: 22px;
    color: white;
    margin-right: 44px;
}

.mainSearch .inpBox {
    display: flex;
}

.mainSearch .inp {
    width: 522px;
    height: 50px;
    padding-left: 100px;
    font-size: 20px;
}

.mainSearch .mainSrIcon {
    width: 62px;
    height: 50px;
    background-color: #333;
    background-image: url(../images/icon_search\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}





.contents1 {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.contents1>ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.contents1>ul>li {
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-basis: 25%;
    _border: 1px solid #000;
    height: 330px;
    cursor: pointer;
}

.contents1>ul>li:hover {
    transform: scale(1.1);
    transition: .3s;
}

.contents1>ul>li:hover:nth-child(4) {
    z-index: 1;
}

.contents1>ul>li:hover:nth-child(7) {
    z-index: 1;
}

.contents1>ul>li:hover:nth-child(8) {
    z-index: 1;
}

.contents1>ul>li:nth-child(3) {
    flex-basis: 50%;
}

.contents1>ul>li:nth-child(4) {
    height: 660px;
}

.contents1>ul>li:nth-child(5) {
    flex-basis: 50%;
}

.contents1>ul>li:nth-child(7) {
    width: 330px;
    position: absolute;
    bottom: 0;
    left: 330px;
}

.contents1>ul>li:nth-child(8) {
    flex-basis: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 660px;
}

.contents2 .videoWrap {
    width: 1320px;
    height: 740px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
}

.contents2 ul {
    width: 1320px;
    height: 742px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.contents2 .info_txt {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.contents2 .info_txt h3 {
    font-size: 40px;
}

.contents2 .info_txt p {
    font-size: 20px;
}

.contents2 li {
    flex-grow: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    height: 100%;
    position: relative;
    flex-basis: 16.66%;
    transition: 0.5s;
}

.contents2 li:hover {
    background-color: #027ac4b9;
    flex-basis: 33.33%;
    
}

.contents2 li:hover p {
    display: block;
}

.contents2 li:hover a {
    display: block;
}

.contents2 li:last-child {
    border-right: none;
}

.contents2 .iconWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.contents2 .conIcon {
    width: 112px;
    height: 50px;
    background-image: url(../images/ico_main_business_new.png);
}

.contents2 li h4 {
    font-size: 24px;
    color: white;
    font-weight: normal
}

.contents2 li p {
    color: white;
    display: none;
}

.contents2 li a {
    width: 176px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
    line-height: 50px;
    text-align: center;
    display: none;
}


.contents2 li:nth-child(3) .conIcon {
    background-position-y: -50px;
}

.contents2 li:nth-child(4) .conIcon {
    background-position-y: -100px;
}

.contents2 li:nth-child(5) .conIcon {
    background-position-y: -150px;
}

.contents2 li:nth-child(6) .conIcon {
    background-position-y: -200px;
}

.contents2 li:nth-child(7) .conIcon {
    background-position-y: -250px;
}



.contents3 {
    width: 1320px;
    margin: 0 auto;
    height: 660px;
    margin-bottom: 80px;
}

.contents3>ul {
    background-color: pink;
    height: 100%;
}



.contents3>ul>li {
    background-color: orange;
    height: 660px;
    width: 330px;
    float: left;
}

.contents3>ul>li:nth-child(1) {
    background: #2E4D8E;
}

.contents3>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    height: 660px;
}

.contents3>ul>li>a>img.newsIcon {
    width: 130px;
    height: 100px;
    margin-bottom: 50px;
}

.contents3>ul>li>a>.secTxt>p {
    font-size: 16px;
    width: 272px;
    height: 176px;
}

.contents3>ul>li>a>.secTxt>p>span {
    font-size: 16px;
    margin-top: 41px;
    display: block;
}

.contents3>ul>li>a>img {
    height: 330px;
    width: 330px;
}

.contents3>ul>li>a>.secTxt {
    height: 330px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.contents3>ul>li:nth-child(1)>a>.secTxt {
    background-color: initial;
    color: white;
}

.contents3>ul>li:nth-child(1)>a {
    color: white;
}

.contents4 {
    width: 1320px;
    height: 330px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.contents4>ul {
    width: 1320px;
    display: flex;
}

.contents4>ul>li {
    flex-grow: 1;
    flex-basis: 50%;
    background-color: pink;
    height: 330px;
    padding: 47px 40px;
    color: white;
}

.contents4>ul>li h5 {
    font-size: 32px;
    font-weight: bold;
}

.contents4>ul>li h5::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
}

.contents4>ul>li p {
    margin-bottom: 40px;
}

.contents4>ul>li a {
    display: block;
    width: 168px;
    height: 49px;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 49px;
}




.footerWrap{
    
    height: 220px;
}
.ftbox1{
    border-bottom: 1px solid #C4C4C4;
}
.ftContentWrap1{
    width: 1320px;margin: 0 auto;
}
.ftContentWrap1>ul{display: flex;justify-content: space-between;align-items: center;height: 50px;}
.ftContentWrap>ul>li{font-size: 13px;}
.ftContentWrap1>ul>li>ul{width: 823px;display: flex;gap: 20px;}
.ftContentWrap1>ul>li>ul>li{font-size: 13px;display: flex;align-items: center;}
.ftContentWrap1>ul>li>ul>li>a{padding-right: 20px;border-right: 1px solid #000;line-height: 13px;}
.ftContentWrap1 ul .ftIcon1{display: flex;gap: 20px;}
.ftContentWrap1 ul .ftIcon1 a{display: block;height: 24px;width: 24px;}
.ftContentWrap1>ul>li .ftToggle{display: flex;align-items: center;gap: 44px;}

.ftContentWrap2{width: 1320px;height: 170px;margin: 0 auto;display: flex;align-items: center;justify-content: space-between;}
.ftbox2 {width: 878px; height: 72px;display: flex;align-items: center;justify-content: space-between;}
.ftbox2 p{margin-bottom: 8px;}
.ftbox2 p,.ftbox2 span{line-height: 20px;font-size: 14px;}
.ftContentWrap2 .ftIcon2{display: flex;gap: 30px;}









/********** css responsive **********/
@media (max-width: 1600px) {
    .navbar01>ul {
        padding-left: 0px;
    }

}

@media (max-width: 1400px) {
    .navbar02 {
        display: none;
    }

}

@media (max-width: 991px) {
    .navbarWrap {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    .navbar01>ul>li>a {
        padding-right: 10px;
    }

    /* .slideWrap h2{font-size: 40px;}
    .slideWrap p{width: 470px;} */
    .mainSearch {
        display: none;
    }

}

@media (max-width: 816px) {
    .bx-viewport {
        height: 100% !important;
    }

    #header {
        background-color: initial;
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    #header h1 {
        width: 84px;
        height: 34px;
        background-image: url(../images/logos_header.png);
        background-size: cover;
        background-position: 4px 34px;
    }

    .navbarWrap {
        height: 50px;
    }

    #header h1 {
        background-position: 4px 34px;
    }

    #header:hover {
        background: initial;
    }

    #header:hover .navbarWrap h1 {
        background-position: 4px 34px;
    }

    .navbar01 {
        display: none;
    }

    .toggle {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .toggle div {
        width: 24px;
        height: 3px;
        background: white;
        position: absolute;
        border-radius: 2px;
    }

    .toggle .bar1 {
        transform: translateY(-8px);
    }

    .toggle .bar3 {
        transform: translateY(8px);
    }

    .navbarClone {
        position: fixed;
        width: 90%;
        height: 100%;
        top: 0;
        left: -100%;
        background: white;
        display: block;
        transition: 0.5s
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #000;
        opacity: 0.5;
    }

    .mHeader {
        height: 136px;
        background-color: #E8E9EA;
        padding: 8px 13px;
        position: relative;
    }

    .mHeaderWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mIcon {
        display: flex;
    }

    .mLeng {
        width: 51px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .mLeng a {
        font-size: 10px;
        font-weight: bold;
        display: block;
        line-height: 24px;

    }

    .mLeng i {
        padding-left: 10px;
    }

    .mLogo {
        width: 84px;
        height: 34px;
        background-image: url(../images/logos_header.png);
        background-size: cover;
    }

    .mLogo a {
        display: block;
        width: 84px;
        height: 34px;
    }

    .mClose {
        width: 24px;
        height: 24px;
        background-image: url(../images/mClose.png);
        margin-left: 12px;
        cursor: pointer;
    }

    .mSrWrap {
        width: 90%;
        position: absolute;
        left: 23;
        top: 70px;
        display: flex;
    }

    .mInp {
        width: 100%;
        height: 36px;
        background-color: white;
        padding-left: 100px;
        border: 0 none;
    }

    .mInp::placeholder {
        color: #027ac4;
        font-weight: bold;
    }

    .msrIcon {
        width: 50px;
        height: 36px;
        background-color: #027ac4;
        background-image: url(../images/icon_search\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .mMenu .submenu {
        display: none;
    }

    .mMenu>ul>li:nth-child(1) .submenu {
        /* display: block; */
    }




    .mMenu>ul>li>ul {
        padding: 0 25px;




    }

    .mMenu>ul>li>ul.submenu>li {
        font-weight: normal;
        font-size: 14px;

    }

    .mMenu>ul>li>ul.submenu>li>a {
        font-size: 16px;
        color: #333;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid #e3e4e5;
        padding: 0 18px;

    }

    .fa-angle-right {
        padding-top: 3px;
    }

    .mMenu>ul>li>a {
        line-height: 60px;
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: #333;
        position: relative;
        padding-left: 25px;
        padding-right: 67px;
        border-bottom: 1px solid #e3e4e5;
    }

    .mMenu>ul>.mbSub>a.on {
        color: #027ac4;
    }

    .mMenu>ul>.mbSub>a::before {
        content: '';
        background: #333;
        position: absolute;
        display: inline-block;
        width: 3px;
        height: 17px;
        right: 25px;
        top: 50%;
        margin-top: -9px;
        border: none;
    }

    .mMenu>ul>.mbSub>a.on::before {
        content: '';
        display: none;
    }


    .mMenu>ul>.mbSub>a::after {
        content: '';
        background: #333;
        position: absolute;
        display: inline-block;
        width: 3px;
        height: 17px;
        right: 25px;
        top: 50%;
        margin-top: -9px;
        border: none;
        transform: rotate(90deg);
    }

    .mMenu>ul>.mbSub>a.on::after {
        content: '';
        background: #027ac4;

    }

    .mbFooter {
        height: 100%;

    }

    .mbFtIcon {
        padding: 30px 20px 0 20px;

    }

    .mbFtIcon>p {
        font-size: 14px;
        color: #555;
        padding: 20px 0;
    }

    .mbFtIcon>a {
        display: inline-block;
        height: 32px;
        width: 32px;
        background-position-x: 0px;
        background-size: cover;
        margin-right: 20px;
    }

    .mbFtIcon>a:nth-child(2) {
        background-position-x: -32px;
    }

    .mbFtIcon>a:nth-child(3) {
        background-position-x: -64px;
    }

    .mbFtIcon>a:nth-child(4) {
        background-position-x: -96px;
    }

    .mbFtBg {
        height: 150px;
        background: url(../images/bg_gnb.gif)no-repeat right bottom;
        background-size: 181px auto
    }

    .slideWrap h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .slideWrap p {
        font-size: 18px;
        line-height: 30px;
    }

    .slideWrap li {
        padding: 50px 130px;
        background-position: initial;
    }

    .slideWrap li.mbSlide1 {
        background-image: url(../images/mb_slide01.jpg) !important;
    }

    .slideWrap li.mbSlide2 {
        background-image: url(../images/mb_slide02.png) !important;
    }

    .slideWrap li.mbSlide3 {
        background-image: url(../images/mb_slide03.jpg) !important;
    }

    .slideWrap li.mbSlide4 {
        background-image: url(../images/mb_slide04.png) !important;
    }

    .contents1 {
        display: none;
    }



    .contents2 video {
        display: none;
    }

    .contents2 .videoWrap {
        width: 100%;
        background-image: url(../images/bg_main_business_new.jpg);
        background-size: cover;
        height: 1120px;
    }

    .contents2 ul {
        flex-direction: column;
        width: 100%;
        height: 1120px;
        padding: 30px;
        background-color: initial;
    }

    .contents2 ul>.info_txt {
        position: initial;
        text-align: center;
        transform: translateX(0);
        padding: 50px;
        color: #000;
    }

    .contents2 ul>.info_txt>h3 {
        font-size: 26px;
    }

    .contents2 ul>.info_txt>p {
        font-size: 14px;
        width: 260px;
    }

    .contents2 ul>li {
        border-right: none;
        border-bottom: 1px solid white;
        cursor: pointer;
        transition: 0s;
    }

    .contents2 li:nth-child(2) {
        background-image: url(../images/bg_business_01_off.jpg);
        background-size: cover;
    }

    .contents2 li:nth-child(3) {
        background-image: url(../images/bg_business_02_off.jpg);
        background-size: cover;
    }

    .contents2 li:nth-child(4) {
        background-image: url(../images/bg_business_03_off.jpg);
        background-size: cover;
    }

    .contents2 li:nth-child(5) {
        background-image: url(../images/bg_business_04_off.jpg);
        background-size: cover;
    }

    .contents2 li:nth-child(6) {
        background-image: url(../images/bg_business_05_off.jpg);
        background-size: cover;
    }

    .contents2 li:nth-child(7) {
        background-image: url(../images/bg_business_06_off.jpg);
        background-size: cover;
    }




    .contents2 .iconWrap {
        gap: 10px;
    }

    .contents2 .conIcon {
        width: 112px;
        height: 50px;
        background-image: url(../images/ico_main_business_new.png);
    }

    .contents2 li:hover {
        background-color: initial;
        flex-basis: 16.66%;
    }

    .contents2 li:hover p {
        display: none;
    }

    .contents2 li:hover a {
        display: none;
    }

    .contents2 ul li.click {
        background-image: url(../images/bg_business_01_on.jpg);
        flex-basis: 33.33%;
        cursor: initial;
    }

    .contents2 li.click p {
        display: block;
    }

    .contents2 li.click a {
        display: block;
        background-color: white;
        color: #027ac4;
    }

    .contents2 ul li.click:nth-child(2) {
        background-image: url(../images/bg_business_01_on.jpg)
    }

    .contents2 ul li.click:nth-child(3) {
        background-image: url(../images/bg_business_02_on.jpg)
    }

    .contents2 ul li.click:nth-child(4) {
        background-image: url(../images/bg_business_03_on.jpg)
    }

    .contents2 ul li.click:nth-child(5) {
        background-image: url(../images/bg_business_04_on.jpg)
    }

    .contents2 ul li.click:nth-child(6) {
        background-image: url(../images/bg_business_05_on.jpg)
    }

    .contents2 ul li.click:nth-child(7) {
        background-image: url(../images/bg_business_06_on.jpg)
    }

    .contents3{display: none;}


    .contents4 {
       
        width: 100%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .contents4>ul {
       
        position: relative;
        width: 100%;
        display: block;
    }

    .contents4>ul>li {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        height: 330px;
        padding: 47px 40px;
        color: white;
        background-repeat: no-repeat;
        background-size: cover
        !important
    }

    .contents4>ul>li h5 {
        font-size: 32px;
        font-weight: bold;
    }

    .contents4>ul>li h5::after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        background-color: #fff;
        margin: 20px 0;
    }

    .contents4>ul>li p {
        margin-bottom: 40px;
    }

    .contents4>ul>li a {
        display: block;
        width: 168px;
        height: 49px;
        border: 1px solid white;
        color: white;
        text-align: center;
        line-height: 49px;
    }

    
    .ftContentWrap1{width: 100%;padding: 0 20px;}
    .ftIcon1{display: none!important}
    .ftContentWrap1>ul{justify-content: center;}
    .mb_ft_content1>ul>li:nth-child(6)>a{border-right: 0 none;}
    .footerWrap{height: 100%;}
    .ftContentWrap1>ul>li>ul{width: 100%;gap: 10px;}
    .ftContentWrap1>ul>li>ul>li>a{padding-right: 10px;}
    .mb_ft_content2{display: none;}
    .ftContentWrap2{width: 100%;height: 100%;flex-direction: column;gap: 20px;padding: 20px;}
    .ftbox2{width: 100%;height: 100%;flex-direction: column;gap: 20px;}
    
    


}













@media (max-width: 676px) {
    .slideWrap li {
        gap: 30px;
        padding: 50px 100px;
    }

    .slideWrap h2 {
        font-size: 40px;
    }

    .slideWrap p {
        font-size: 16px;
    }

    .slideWrap span {
        font-size: 16px;
    }

    

 
    
    .ftContentWrap1>ul>li>ul{display: block;}
    .ftContentWrap1>ul>li>ul>li>a{padding-right: 5px;border: 0 none;position: relative;}
    .ftContentWrap1>ul>li>ul>li>a::after{content: ""; width: 1px;height: 12px;background-color: #000;display: block;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
    .ftContentWrap1>ul>li>ul>li:nth-child(6)>a::after{content: "";display: none;}
    .ftContentWrap1>ul>li>ul>li{display: inline-block;}
}












@media (max-width: 575px) {
    .slideWrap li {
        gap: 20px;
        padding: 50px 90px;
    }

    .slideWrap h2 {
        font-size: 30px;
    }

    .slideWrap p {
        font-size: 14px;
    }

    .slideWrap span {
        font-size: 14px;
    }
}