@charset "utf-8";
/********** css responsive init **********/
body{font-family: 'Noto Sans KR', sans-serif;}
#header{height: 800px;background-image: url(../images/header_bg1.png);background-repeat: no-repeat;background-size: cover;}
.container{height: 72px;margin: 0 auto;background-color: rgba(0, 0, 0, 0.6);}
.navbarWrap{display: flex;padding-left: 58px;align-items: center;justify-content: space-between;}
.navbarWrap h1{width: 130px;height: 50px; background-image: url(../images/logos_header.png);background-position: 6px -57px;}
.navbarWrap h1>a{display: block;width: 130px;height: 50px;}
.navbar01>ul{display: flex;justify-content: center;align-items: center;padding-left: 210px;}
.navbar01>ul>li{font-size: 16px;display: flex;justify-content: center;align-items: center;}
.navbar01>ul>li>a{color: white;display: block;padding: 0 30px;line-height: 72px;}


.navbar01 .submenu{display: none;}

.navbar02 {width: 410px;height: 72px;display: flex;justify-content: space-between;align-items: center;}
.searchWrap{width: 196px;height: 40px;display: flex;justify-content: space-between;align-items: center;}
.searchWrap .leng{width: 84px;height: 40px; background-image: url(../images/icons_gnb.png);background-position: 7px -96px;}
.searchWrap .leng a{color: white;display: block;width: 84px; line-height: 40px;text-align: center;}
.searchWrap .leng i{padding-left: 5px;}
.searchWrap .search{width: 33px;height: 33px; background-image: url(../images/icons_gnb.png);background-position: 0 -33px;}
.searchWrap .maintoggle{width: 33px;height: 33px; background-image: url(../images/icons_gnb.png);background-position: -58px -33px;}
.rerv{width: 185px;height: 72px;background-color: #0264BF;display: flex;justify-content: center;align-items: center;}
.rerv a{color: white;}
.rerv i{padding-left: 5px;}




/********** css responsive **********/
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}